.fbinput {
  width: 100%;
  margin-top: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0071B9 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #0071B9 !important;
}

mat-error {
  font-size: 12px;
}

.button-div {
  margin-top: 20px;
  float: right;
}

.button-send {
  background-color:#0071B9;
  color:#FFFFFF;
  margin-left: 10px;
}

.button-send:disabled {
  background-color: transparent;
  color: #E8E4E1;
}

::ng-deep .success {
  background-color: forestgreen;
  text-align: center !important;
  border-radius: 8px !important;
  max-width: 150px !important;
}
