<app-search-bar (userClicked)="setUserClicked($event)" (receiverId)="setReceiverId($event)"></app-search-bar>
<mat-form-field appearance="outline" style="white-space: pre-wrap;">
  <textarea
    [(ngModel)]="enteredContent"
    id="content"
    matInput rows="6"
    name="content"
    required
    placeholder="{{'Feedback.notizEingeben' | translate}}"
    #content="ngModel">
  </textarea>
<mat-error *ngIf="content.invalid">{{'Warnung.notizEingeben' | translate}}</mat-error>
</mat-form-field>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="addFeedback()" [disabled]="!userClicked || enteredContent == ''">Add</button>


