.goalsCard {
  height: 80%;
  box-shadow: 0 0 8px #E8E4E1;
  font-family: "Klavika", sans-serif;
  color: #0071B9;
  margin: 1%;
}

.inner-cardGoals {
  height: 80%;
  background-color: #E8E4E1;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.greyGoalsCard {
  height: 15%;
  background-color: white;
  color: #857971;
  margin: 0 10% 5px auto;
}

.content {
  height: 100%;
  position: center;
  overflow: auto;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0071B9 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E8E4E1 !important;
  height: 10% !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0071B9;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E8E4E1;
}

::ng-deep .mat-progress-bar {
  border-radius: 4px;
}
