<mat-card class="main-card">ZIELE
  <mat-card class="inner-card">
  <mat-card-content>



    <div     cdkDropList
             #todoList="cdkDropList"
             [cdkDropListData]="data"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
      <mat-card class="small-card example-box" *ngFor="let goal of data" cdkDrag>
        {{ goal.description }}
        <button [disableRipple]="true" class="button-styling" *ngIf="true" matSuffix mat-icon-button aria-label="Delete" (click)="deleteDialog(goal.id)">
          <mat-icon class="icon-styling"  (click)="deleteDialog(goal.id)">delete</mat-icon>
        </button>
        <button [disableRipple]="true" class="button-styling" *ngIf="true" matSuffix mat-icon-button aria-label="Edit" (click) = "openDialog(goal.id)">
          <mat-icon class="icon-styling">edit</mat-icon>
        </button>


        <button class="button-styling" matSuffix mat-icon-button aria-label="Edit" (click)="addTask(goal.id) ">
          <span class="icon-styling">Add a Task</span>

        </button>




        <button class="button-at button-styling" style="vertical-align:middle" (click)="showTasks(goal.id)">
          <span>show Tasks </span></button>



        <!--   Progress bar: value = anz abgehakte todos jedes Ziels -->
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>


      </mat-card>
    </div>

  </mat-card-content>
  </mat-card>
  <div class="div-styling">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>I want to achieve</mat-label>
      <input matInput type="text" [(ngModel)]="enteredValue" (keyup.enter)="onAddPost()" (keyup.enter)="sendMessage()">
      <button *ngIf="true" matSuffix mat-icon-button aria-label="Send" (click)="onAddPost()" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-card>
