.style {
  max-width: 40%;
  height: 80%;
  margin-left: 40%;
  margin-top: 1%;
  box-shadow: 0px 0px 8px #E8E4E1;
  font-family: "Klavika", sans-serif;
  color: #0071B9;
}

.style2 {
  height: 80%;
  background-color: #E8E4E1;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.mat-card-content {
  height: 100%;
  position: center;
  overflow: auto;
}



.style3 {
  height: 15%;
  background-color: white;
  color: #857971;
  margin: 0 auto;
  margin-right: 10%;
  margin-bottom: 5px;
}

.style4 {
  float: right;
}

.style5 {
  margin-bottom: 150%;
}

.example-form-field {
  width: 100%;
  margin-top: 3%;
  height: 15%;
  background-color: #E8E4E1;
  border-radius: 4px;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #0071B9 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #0071B9 !important;
}

input {
  /*change color of input*/
  color: #857971 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E8E4E1 !important;
  height: 10% !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #0071B9;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E8E4E1;
}

::ng-deep .mat-progress-bar {
  border-radius: 4px;
}

