
<mat-sidenav-container>


    <mat-sidenav #drawer class="sidenav"
                 fixedInViewport
      [attr.role]="(isHandset$) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">


  <mat-toolbar>Menü</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#"><img class="random-user-side" src="https://randomuser.me/api/portraits/men/11.jpg" alt="random user"> <p class="random-user-side-text">Dein Profil ansehen</p></a>

        <a class="rollen-verteilung-side" mat-list-item href="#">
        <mat-form-field>
        <mat-label>Rolle</mat-label>
        <mat-select>
          <mat-option value="one">Mitarbeiter*in</mat-option>
          <mat-option value="two">Vorgesetzte*r</mat-option>
        </mat-select>
      </mat-form-field></a>
      <a mat-list-item href="#"><mat-icon>language</mat-icon> <div class="sidenav-text">Sprache</div></a>
      <a mat-list-item href="#"><mat-icon>info</mat-icon> <div class="sidenav-text">Info</div></a>
      <a mat-list-item href="#"><mat-icon>exit_to_app</mat-icon> <div class="sidenav-text">Logout</div></a>

    </mat-nav-list>



    </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="title">adesso</span>

      <span class="example-spacer"></span>

      <div class="nav-element rolle-bild">
        <img class="random-user" src="https://randomuser.me/api/portraits/men/11.jpg" alt="random user">
        <div class="rollen-verteilung">
          <mat-form-field>
            <mat-label>Rolle</mat-label>
            <mat-select>
              <mat-option value="one">Mitarbeiter*in</mat-option>
              <mat-option value="two">Vorgesetzte*r</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>language</mat-icon>
        </button>
        <div class="element-text">
          Sprache
        </div>
      </div>

      <div class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>info</mat-icon>
        </button>
        <div class="element-text">
          Info
        </div>
      </div>

      <div class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <div class="element-text">
          Logout
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>



