<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" *ngIf="this.isLogin"><img class="random-user-side"
                                                          src="https://randomuser.me/api/portraits/men/11.jpg"
                                                          alt="random user">
        <p class="random-user-side-text">Dein Profil ansehen</p></a>
      <a class="rollen-verteilung-side" mat-list-item href="#" *ngIf="this.isLogin">
        <mat-form-field>
          <mat-label>Rolle</mat-label>
          <mat-select value= "Mitarbeiter_in">
            <mat-option value="Mitarbeiter_in" (click)="onSelectMitarbeiter_in()">Mitarbeiter_in</mat-option>
            <mat-option (click)="onClickVorgesetzter()" value="Vorgesetzte_r" *ngIf="roleLoggedInUser == 'Vorgesetzte_r'" (click)="onSelectVorgesetzte_r()">Vorgesetzte_r</mat-option>
          </mat-select>
        </mat-form-field>
      </a>
      <a mat-list-item>
        <mat-icon>language</mat-icon>
        <div class="sidenav-text">Sprache</div>
      </a>
      <a mat-list-item href="#">
        <mat-icon>info</mat-icon>
        <div class="sidenav-text">Info</div>
      </a>
      <a (click)='logout()' mat-list-item *ngIf="this.isLogin">
        <mat-icon>exit_to_app</mat-icon>
        <div class="sidenav-text">Logout</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">adesso</span>
      <span class="example-spacer"></span>
      <div class="nav-element rolle-bild" *ngIf="this.isLogin">
        <img class="random-user" src="https://randomuser.me/api/portraits/men/11.jpg" alt="random user">
        <div class="rollen-verteilung">
          <mat-form-field>
            <mat-label>Rolle</mat-label>
            <mat-select value="Mitarbeiter_in">
              <mat-option value="Mitarbeiter_in"  (click)="onSelectMitarbeiter_in()">Mitarbeiter_in</mat-option>
              <mat-option (click)="onClickVorgesetzter()" value="Vorgesetzte_r" *ngIf="roleLoggedInUser == 'Vorgesetzte_r'" (click)="onSelectVorgesetzte_r()">Vorgesetzte_r</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="nav-element">
        <div class="element-text">
          {{firstNameloggedInUser + ' ' + lastNameloggedInUser}}
        </div>
      </div>
      <div class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>language</mat-icon>
        </button>
        <div class="element-text">
          Sprache
        </div>
      </div>
      <div class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>info</mat-icon>
        </button>
        <div class="element-text">
          Info
        </div>
      </div>
      <div (click)='logout()' class="nav-element" *ngIf="this.isLogin">
        <button mat-icon-button class="example-icon"
                aria-label="Example icon-button with input icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <div class="element-text">
          Logout
        </div>
      </div>
    </mat-toolbar>
    <div class='row m-0 w-100'>
      <div class='col-md-4 offset-4 mt-5' *ngIf='!this.isLogin'>
        <h4>Login</h4>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class = 'form-group'>
            <input (keypress)="removeErrorMessage()" (keydown.backspace)="removeErrorMessage()" class = 'form-control' type = "text" formControlName="username" name = "username" placeholder = "Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors">Username is required</div>
            </div>
          </div>
          <div class = 'form-group'>
            <input (keypress)="removeErrorMessage()"  (keydown.backspace)="removeErrorMessage()"class = 'form-control' type = "password" formControlName="password" name = "password" placeholder = "Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors">Password is required</div>
            </div>
          </div>
          <input class='btn btn-outline-info' type="submit" value="Login">
        </form>
      </div>
    </div>
    <div class="content-components" *ngIf="selectedRole == 'Mitarbeiter_in'">
      <div class="one-component">
        <app-goals *ngIf="this.isLogin" (showTasksClicked)="tasksToOneGoal = $event"  (showGoalid)="setGoalsid($event)"></app-goals>
      </div>
      <div class="one-component">

      <app-todo *ngIf="this.isLogin" [tasksToOneGoal]="tasksToOneGoal" [goalid]="goalid"></app-todo>
        </div>
    </div>
    <div class="content-components" *ngIf="selectedRole == 'Vorgesetzte_r'">
     <mat-card>
       <mat-card-content>
      <mat-card  *ngFor="let member of teamVorgesetze">

      {{member.firstname}}
      {{member.surname}}

      <!-- <div *ngFor="let member in teamVorgesetze">
         <p>{{member.firstname}}</p>
         <p>{{member.surname}}</p>

       </div>-->
      </mat-card>
       </mat-card-content>
     </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
