<mat-toolbar>
  <span class="title">adesso</span>

  <span class="example-spacer"></span>

  <div class="nav-element rolle-bild">
    <img class="random-user" src="https://randomuser.me/api/portraits/men/11.jpg" alt="random user">
    <div class="rollen-verteilung">
    <mat-form-field>
    <mat-label>Rolle</mat-label>
    <mat-select>
      <mat-option value="one">Mitarbeiter*in</mat-option>
      <mat-option value="two">Vorgesetzter</mat-option>
    </mat-select>
  </mat-form-field>
    </div>
  </div>


  <div class="nav-element">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
    <mat-icon>language</mat-icon>
  </button>
    <div class="element-text">
      Sprache
    </div>
  </div>

  <div class="nav-element">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
    <mat-icon>info</mat-icon>
   </button>
    <div class="element-text">
      Info
    </div>
  </div>

  <div class="nav-element">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
    <div class="element-text">
      Logout
    </div>
  </div>
</mat-toolbar>

