<div mat-dialog-content>
  <form [formGroup]="reviewForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="fill" style="display: unset;">
      <mat-label>your updated review</mat-label>
          <textarea 
          cols="50" 
          rows="24"
          type="text"
          value="{{oldDescription}}"
          matInput
          [(ngModel)]="enteredValue"
          formControlName="description"
          ></textarea>
      <mat-error>
        <span>Please enter description</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <form [formGroup]="reviewForm">
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button (keyup.enter)="onFormSubmit()" (click)="onFormSubmit()" type="submit" [disabled]="!reviewForm.valid"
            mat-flat-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </form>
</div>
