<app-goals></app-goals>
<app-todo></app-todo>
<app-annual-review></app-annual-review>
<div class="content-components" *ngIf="selectedRole == 'Mitarbeiter_in'">
  <div class="one-component">
    <app-goals *ngIf="this.isLogin" (showTasksClicked)="tasksToOneGoal = $event" (showGoalid)="setGoalsid($event)"></app-goals>
  </div>
  <div class="one-component">
    <app-todo *ngIf="this.isLogin" [tasksToOneGoal]="tasksToOneGoal" [goalid]="goalid"></app-todo>
  </div>
</div>
<div class="content-components" *ngIf="selectedRole == 'Vorgesetzte_r'">
  <mat-card>
    <mat-card-content>
      <mat-card *ngFor="let member of teamVorgesetze" (click)="loadGoals(member.userid)">
        {{member.firstname}}
        {{member.surname}}
        <!-- <div *ngFor="let member in teamVorgesetze">
           <p>{{member.firstname}}</p>
           <p>{{member.surname}}</p>
         </div>-->
      </mat-card>
    </mat-card-content>
  </mat-card>
  <div *ngIf="clickedOnMitarbeiter">
    <div class="one-component">
      <app-goals [selectedRole]="selectedRole" (showTasksClicked)="tasksToOneGoal = $event"
                 (showGoalid)="setGoalsid($event)" [idTeam]="idTeamMember"
                 [goalsToOneUser]="goalsToOneUser"></app-goals>
    </div>
    <div class="one-component">
      <app-todo [selectedRole]="selectedRole" [tasksToOneGoal]="tasksToOneGoal" [goalid]="goalid"></app-todo>
    </div>
  </div>
</div>

