<p>die id ist {{selectedId}}</p>
<app-goals [selectedRole]="selectedRole" [goalsToOneUser]="goalsToOneUser" [idTeam]="selectedId"
           (showTasksClicked)="tasksToOneGoal = $event"
           (tasksToTodo)="tasksToTodo = $event" (tasksToDoing)="tasksToDoing = $event" (tasksToDone)="tasksToDone = $event"
           (showGoalid)="setGoalsid($event)"

></app-goals>
<app-todo [selectedRole]="selectedRole" [tasksToOneGoal]="tasksToOneGoal"
          [tasksToTodo]="tasksToTodo" [tasksToDoing]="tasksToDoing" [tasksToDone]="tasksToDone" [goalid]="goalid"></app-todo>

<app-annual-review [selectedRole]="selectedRole" [reviewsToOneUser]="reviewsToOneUser" [idTeamMember]="selectedId" ></app-annual-review>
