<div>
  <mat-card class="goalsCard">
    <p>{{ 'Ziele.ziele' | translate }}
      <button *ngIf="selectedRole == 'Mitarbeiter_in'" class="bttn icon-display" style="font-size: 23px" (click)="addPostForm()">+</button>
    </p>
    <div *ngIf="goalsToOneUser.length == 0" class="description-styling">
      <p>{{ 'Ziele.nichtVorhanden' | translate}}</p>
    </div>

    <mat-expansion-panel hideToggle *ngIf="addPost" [expanded]="true">
      <mat-form-field appearance="outline" style="white-space: pre-wrap;">
        <textarea
          [(ngModel)]="enteredContent"
          id="content"
          matInput rows="6"
          name="content"
          required
          placeholder="{{ 'Ziele.deinZiel' | translate}}"
          #content="ngModel">
        </textarea>
        <mat-error *ngIf="content.invalid">{{ 'Ziele.eingabeBeschreibung' | translate}}</mat-error>
      </mat-form-field>

      <!-- Fälligkeitsdatum US4.3 -->
      <mat-form-field appearance="fill"> <!-- ist bei den annual reviews: <mat-form-field class="col-md-12"> -->
        <input
          readonly='true'
          matInput [matDatepicker]="picker"
          [(ngModel)]="enteredExpiryDate"
          id="dateEntry"
          name="date"
          required='false'
          placeholder="Fälligkeitsdatum festlegen"
          #date="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- Fälligkeitsdatum US4.3 Ende -->


      <mat-action-row>
        <button
          style="color: white; background-color: #0071B9" mat-raised-button *ngIf=true matSuffix
          type="submit" (click)=onAddPost(idloggedInUser)>{{ 'Button.speichern' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <div
      class="accordion-item-header"
      (click)="setGoalsid(goal._id); showTasks(goal._id); setTheSelectedGoal(goal)"
      *ngFor="let goal of goalsToOneUser; let index = index">

      <mat-expansion-panel #exppanel hideToggle class="panel-styling" [expanded]="showGoalid == goal._id">
        <mat-expansion-panel-header class="panel-header-styling">
          <mat-icon class="push-pin" *ngIf="goal.priority == true">push_pin</mat-icon>
          <mat-card [ngStyle]="{'background-color':goal._id === showGoalid ? '#BFDCEE' : '#E8E4E1'}" class="goals-matcard">
      <!-- Fälligkeitsdatumsanzeige in der Übersicht US4.4 -->

      <!-- gelb und rot
      background-color: #f8e009;
      background-color: #f35f3b;
      -->
      <div *ngIf="goal.expiry_date != null"
           class="date-lable"
           [ngStyle]="{'background-color': calculate(goal.expiry_date) == 'yellow' ? '#ffbb2f' : calculate(goal.expiry_date) == 'red' ? '#f35f3b' : '#c5bfbc'}">
        <div class="date-numbers">
          {{ goal.expiry_date | date:'dd.MM.YYYY'}}
        </div>
      </div>

      <!-- Fälligkeitsdatumsanzeige in der Übersicht US4.4 -->

            <div class="description-styling">
              {{goal.description}}
            </div>
            <mat-progress-bar
              [ngClass]="{'green-progress':progressArray[index] == 100 && selectedRole == 'Mitarbeiter_in'}"
              *ngIf="selectedRole == 'Mitarbeiter_in'"
              class="progressbar-styling"
              mode="determinate"
              value="{{progressArray[index]}}"
              ngModel="progressArray[index]"
              (ngModelChange)="fillProgressArray()">
            </mat-progress-bar>
            <mat-panel-description>
              <span class="span-styling">
                <mat-icon class="button-styling" (click)="openDialog(goal._id); exppanel.toggle()"
                          *ngIf="selectedRole == 'Mitarbeiter_in' || currentUrl == '/'">edit</mat-icon>
                <mat-icon [matMenuTriggerFor]="menu"
                          (click)="exppanel.toggle()"
                          class="button-styling"
                          aria-label="Example icon-button with a menu"
                          *ngIf="selectedRole == 'Mitarbeiter_in' || currentUrl == '/'">more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                  <button (click)="setPriorityTag(goal._id, goal)" mat-menu-item>
                        <mat-icon
                          [ngStyle]="{'color': goal.priority == true ? 'lightgray' : 'firebrick'}">push_pin</mat-icon>
                        <span *ngIf="!goal.priority">{{ 'Button.anpinnen' | translate }}</span>
                        <span *ngIf="goal.priority">{{ 'Button.nichtAnpinnen' | translate }}</span>
                      </button>
                      <button (click)="deleteDialog(goal._id)" mat-menu-item>
                        <mat-icon>delete_outline</mat-icon>
                        <span style="color: red">{{ 'Button.loeschen' | translate }}</span>
                      </button>
                </mat-menu>
              </span>
            </mat-panel-description>
          </mat-card>
        </mat-expansion-panel-header>
        <div class="test" *ngIf="goal._id == showGoalid">
          <app-todo [selectedRole]="selectedRole"
                    [idls]="idls"
                    [tasksToOneGoal]="tasksToOneGoal"
                    [goalid]="showGoalid"
                    [tasksToTodo]="tasksToTodo"
                    [tasksToDoing]="tasksToDoing"
                    [tasksToDone]="tasksToDone"
                    (newTodo)="setNewtask($event)"
                    (deleteTodo)="deleteTask($event)"
                    (result)="setDecision($event)"
                    (changedOrder)="loadProgressNew($event)">
          </app-todo>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-card>
</div>
