<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" required>
        <mat-error>
          Please provide a valid Username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button type="button" (click)="onClick()" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
<!--<mat-card class="style3 example-box" *ngFor="let user of data" cdkDrag>
  {{ user.username }},  {{ user.password }}</mat-card>-->
