<h1>Hier kannst du deine Task bearbeiten:</h1>
<div mat-dialog-content>
  <form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <input [(ngModel)]="enteredValue" matInput placeholder="meine Task" formControlName="description"
             value="">
      <mat-error>
        <span>Bitte gib eine Beschreibung ein</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <form [formGroup]="articleForm">
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button class="save-button" mat-button (keyup.enter)="onFormSubmit()" (click)="onFormSubmit()" type="submit" [disabled]="!articleForm.valid">Speichern</button>
  </form>
</div>
