<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="goal_icon">task_alt</mat-icon>
        <span class="font">{{ 'Ziele.ziele' | translate }}</span>
    </ng-template>
      <app-goals></app-goals>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="success_icon">emoji_events</mat-icon>
        <span class="font">{{ 'Erfolge.erfolge' | translate }}</span>
    </ng-template>
        <app-successes></app-successes>
    </mat-tab>
</mat-tab-group>
