mat-icon {
    margin-right: 10px;
}

.goal_icon {
    color: green;
}

.success_icon {
    color: darkgoldenrod;
}

::ng-deep .mat-ink-bar {
  background-color: #0071B9 !important;
}

.font {
  font-size: 16px;
}
