<div class='row style' *ngIf='!this.isLogin'>

  <h3 class="headline">LOGIN</h3>

  <mat-error *ngIf="loginInvalid">

    The username and password were not recognized

  </mat-error>

  <form class="style2 col-lg" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class='form-group'>

      <input (keypress)="removeErrorMessage()" (keydown.backspace)="removeErrorMessage()" class='form-control'

             type="text" formControlName="username" name="username" placeholder="Username"

             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>

      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">

        <div *ngIf="f.username.errors">Username is required</div>



      </div>

    </div>

    <div class='form-group'>

      <input (keypress)="removeErrorMessage()" (keydown.backspace)="removeErrorMessage()" class='form-control'

             type="password" formControlName="password" name="password" placeholder="Password"

             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>

      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">

        <div *ngIf="f.password.errors">Password is required</div>

      </div>

    </div>

    <div align="center">

      <button class='buttonLogin btn btn-outline-secondary'

              mat-raised-button *ngIf=true matSuffix

              type="submit">Login

      </button>

    </div>

  </form>

</div>
