.viewport{
    height: 250px;
  }

textarea {
  width: 100%;
}

.mat-expansion-panel {
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0 8px #E8E4E1;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 4px;
  box-shadow: 0 0 8px #E8E4E1;

}

