
<mat-accordion multi="false" *ngIf="reviewsToOneUser.length > 0">
    <mat-expansion-panel *ngFor="let review of reviewsToOneUser" hideToggle>
      <mat-expansion-panel-header style="background-color: #E8E4E1">
        {{ review.date }}
      </mat-expansion-panel-header>
      <p *ngIf="!edit" style="white-space: pre-wrap;">{{ review.description }}</p>
      <!-- <form [formGroup]="reviewForm" (ngSubmit)="onFormSubmit(review._id)">
            <textarea
              rows="5"
              *ngIf="edit"
              (keyup.enter)="editOnOff()"
              (keyup.enter)="onFormSubmit(review._id)"
              (keyup.esc)="editOnOff()"
              type="submit"
              placeholder="{{ review.description }}"
              formControlName="description"
              value="review.description"
            >{{ review.description }}</textarea>
      </form> -->
      <mat-action-row *ngIf="currentUrl != '/protokolle'">
        <button mat-button color="primary" class="style4" (click)="openEditDialog(review._id)">
          <mat-icon class="style5">edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="deleteDialog(review._id)" class="style4">
          <mat-icon class="style5">delete</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body1" *ngIf="reviewsToOneUser.length === 0">No reviews added yet.</p>
