.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #857971;
}

.example-input:focus {
  border: none;
  outline: 2px solid #0071B9 !important;
}

.placeholder {
  height: 20px;
  background-color: transparent;
}

.mat-error {
  height: 10px;
  font-size: 12px;
  margin-left: 10px;
}
