<form class="example-form">
  <input type="text"
         placeholder="Suche nach Kollegen"
         [formControl]="myControl"
         [matAutocomplete]="auto"
         class="example-input">
  <mat-icon>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
      <div (click)="chooseUser(user._id)">
        <mat-icon>account_circle</mat-icon>
        {{user.name}}
      </div>
    </mat-option>
  </mat-autocomplete>
</form>
