<div class="feedback-section">
  <div style="display: flex">
    <h3>{{ 'Feedback.feedback' | translate }}</h3>
    <button class="bttn" style="font-size: 23px" (click)="openDialog()">+</button>
  </div>

  <div *ngIf="feedbacks.length == 0" class="description-styling">
    <p>{{ 'Feedback.nichtVorhanden' | translate}}</p>
  </div>
  <div *ngFor="let feedback of feedbacks.reverse()">
    


  <div class="emotion">
    <fieldset id="group">         
      <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>
    </fieldset>        
    <mat-card class="feedback-matcard">   
      <div>
        {{ Mood.mood_date| date:'dd.MM.YYYY' }}
      </div>
      <div class="header">
      </div>        
      <div class="feedback-text">
        {{ feedback.feedback_text }}  
      </div>
    </mat-card>
  </div>
  

  <div class="emotion">
    <fieldset id="group">         
      <mat-icon class= "happy" for="happy"[ngStyle]="{'color':'green'}">mood</mat-icon>
    </fieldset>        
    <mat-card class="feedback-matcard">  
      <div>
        {{ Mood.mood_date| date:'dd.MM.YYYY' }}
      </div>
      <div class="header">
      </div>    
      <div class="feedback-text">
        {{ feedback.feedback_text }}        
      </div>
    </mat-card>
  </div>
  

  <div class="emotion">
    <fieldset id="group">         
      <mat-icon class= "neutral" for="neutral"[ngStyle]="{'color':'yellow'}">sentiment_neutral</mat-icon>
    </fieldset>      
    <mat-card class="feedback-matcard">  
      <div>
        {{ Mood.mood_date| date:'dd.MM.YYYY' }}
      </div> 
      <div class="header">
      </div>    
      <div class="feedback-text">
        {{ feedback.feedback_text }}        
      </div>
    </mat-card>
  </div>

  

  
  <!--
    <fieldset id="group">         
      <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>
      <mat-icon class= "neutral" for="neutral"[ngStyle]="{'color':'yellow'}">sentiment_neutral</mat-icon>
      <mat-icon class= "happy" for="happy"[ngStyle]="{'color':'green'}">mood</mat-icon>
    </fieldset>
  -->

<!--
<div *ngIf="Mood.mood_date" class="date-label"></div>
  <div class="date-numbers">
    {{ Mood.mood_date| date:'dd.MM.YYYY' }}
  </div>

-->
 
   
    
  

</div>



