.mood-section {
  margin-top: 50px;
  color: #0071B9;
}

.mood-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1081px) {
  .wrapper-moods {
    overflow-y: scroll;
    height:500px;
  }
}

@media screen and (max-width: 1080px) {
  .mood-container {
    margin-right: 20px;
  }
}
.header {
  display: flex;
  gap: 10px;
}

.date-label {
  font-size: 15px;
  width: 80px;
  padding-bottom: 3px;
  border-radius: 10px 10px;
  margin-bottom: 12px;
  background-color: rgb(197, 191, 188);
}

.date-numbers {
  font-size: 75%;
  color: black;
  padding-top: 5%;
  border-radius: 10px;
  text-align: center;
}

.mood-matcard {
  color: #857971;
  width: 100%;
  background-color: #F2F2F2;
  word-wrap: break-word;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: none;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .description-styling {
      width: 85%;
  }
}

.emotion-icon {
  margin: 20px;
  font-size: 50px;
}

h3 {
  color: #0071B9;
}

@media screen and (max-width: 1080px) {
  h3 {
    display: none;
  }
}

.edit-icon {
  display: block;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.lock-icon {
  color: #0071B9;
}

.los-button {
  margin-top: 15px;
}

mat-expansion-panel {
  width: 95%;
  margin: auto;
}

.panel-title-styling {
  font-weight: bold;
}

.mood-text {
  font-size: 16px;
}
