<mat-form-field class="fbinput" appearance="outline" style="white-space: pre-wrap;">
  <textarea
    [(ngModel)]="enteredContent"
    id="content"
    matInput rows="6"
    name="content"
    required
    placeholder="{{'Feedback.notizEingeben' | translate}}"
    #content="ngModel">
  </textarea>
  <mat-error *ngIf="content.invalid">{{'Warnung.feedbackEingeben' | translate}}</mat-error>
</mat-form-field>
<div class="button-div">
  <button mat-button mat-dialog-close>{{'Button.abbrechen' | translate}}</button>
 <!-- <button class="button-send" mat-button (click)="openDialog()" aria-label="Show an example snack-bar" [disabled]="!userClicked || enteredContent == ''">{{'Button.senden' | translate}}</button>-->


 <button class="button-send" mat-button (click)="openDialog()" aria-label="Show an example snack-bar" [disabled]="!userClicked || enteredContent == ''">{{'Button.senden' | translate}}</button>

</div>


