<h1>{{ 'Protokolle.bearbeiten' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="reviewForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline" style="display: unset;">
          <textarea
          cols="50"
          rows="24"
          type="text"
          value="{{oldDescription}}"
          matInput
          [(ngModel)]="enteredValue"
          formControlName="description"
          ></textarea>
      <mat-error>
        <span>{{ 'Protokolle.eingabeBeschreibung' | translate}}</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <form [formGroup]="reviewForm">
    <button mat-button (click)="onNoClick()">{{ 'Button.abbrechen' | translate}}</button>
    <button mat-button class="save-button"
            (keyup.enter)="onFormSubmit()"
            (click)="onFormSubmit()"
            type="submit"
            [disabled]="!reviewForm.valid">
      {{ 'Button.speichern' | translate}}
    </button>
  </form>
</div>

