.reviewsCard {
  height: 80%;
  box-shadow: none;
  font-family: "Klavika", sans-serif;
  color: #0071B9;
  margin: 1%;
}

.mat-expansion-panel {
  background-color: #E8E4E1;
  box-shadow: none;
  padding: 4px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0071B9 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #0071B9 !important;
}

input {
  color: #857971 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E8E4E1 !important;
  height: 10% !important;
}

.mat-raised-button {
  background-color: #0071B9;
  color: white;
}

.mat-form-field {
  width: 100%;
}

.icon-display {
  font-size: 15px;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #0071B9 !important;
}

.bttn {
  transition: 1s ease-in-out;
  outline: none;
  border: 1px solid #0071B9;
  margin: 1%;
  padding: 7px 12px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  background: transparent;
  color: #857971;
  font-weight: 100;
  font-size: 23px;
}

.bttn:hover {
  transition: 1s ease-in-out;
  background: #0071B9;
  opacity: 0.4;
  color: white;
}
