<mat-accordion multi="false" *ngIf="reviewsToOneUser.length > 0">
    <mat-expansion-panel *ngFor="let review of reviewsToOneUser.reverse()" hideToggle>
      <mat-expansion-panel-header style="color: #857971; background-color: #E8E4E1">
        {{ review.date }}
      </mat-expansion-panel-header>
      <p *ngIf="!edit" style="white-space: pre-wrap;">{{ review.description }}</p>
      <mat-action-row *ngIf="currentUrl != '/protokolle'">
        <mat-icon style="color: #857971" (click)="openEditDialog(review._id)" class="style5">edit</mat-icon>
        <mat-icon style="color: #857971" (click)="deleteDialog(review._id)" class="style5">delete_outline</mat-icon>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body1" *ngIf="reviewsToOneUser.length === 0">Du hast noch keine Protokolle angelegt.</p>
