<div cdkDropListGroup>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="tasksToTodo"
    class="example-list"
    (cdkDropListDropped)="dropInTodo($event)">
    <mat-card class="main-card">TODO
      <mat-icon (click)="addTask(goalid)" *ngIf="selectedRole == 'Mitarbeiter_in'">add</mat-icon>
      <mat-card class="inner-card" *ngIf="!editable" (click)="changeEditable()">
        <mat-card class="small-card" *ngFor="let task of tasksToTodo" cdkDrag>
          {{task.description}}
          <button class="button-styling" mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Delete">
            <mat-icon (click)="deleteDialog(task._id)" class="icon-styling" *ngIf="selectedRole == 'Mitarbeiter_in'">cancel</mat-icon>
          </button>
        </mat-card>
      </mat-card>
      <mat-card class="inner-card" *ngIf="editable">
        <mat-form-field class="small-card" *ngFor="let task of tasksToTodo" cdkDrag>
          <input
            class="input-styling"
            type="text"
            [(ngModel)]="task.description"
            (keyup)="getTheInput($event)"
            (keyup.enter)="updateATask(task)"/>
        </mat-form-field>
      </mat-card>
    </mat-card>
  </div>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="tasksToDoing"
    class="example-list"
    (cdkDropListDropped)="dropInDoing($event)">
    <mat-card class="main-card">DOING
      <mat-card class="inner-card" *ngIf="!editable" (click)="changeEditable()">
        <mat-card class="small-card" *ngFor="let task of tasksToDoing" cdkDrag>
          {{task.description}}
          <button class="button-styling" mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Delete">
            <mat-icon (click)="deleteDialog(task._id)" class="icon-styling" *ngIf="selectedRole == 'Mitarbeiter_in'">cancel</mat-icon>
          </button>
        </mat-card>
      </mat-card>
      <mat-card class="inner-card" *ngIf="editable">
        <mat-form-field class="small-card" *ngFor="let task of tasksToDoing" cdkDrag>
          <input
            class="input-styling"
            type="text"
            [(ngModel)]="task.description"
            (keyup)="getTheInput($event)"
            (keyup.enter)="updateATask(task)"/>
        </mat-form-field>
      </mat-card>
    </mat-card>
  </div>


  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="tasksToDone"
    class="example-list"
    (cdkDropListDropped)="dropInDone($event)">
    <mat-card class="main-card">DONE
      <mat-card class="inner-card" *ngIf="!editable" (click)="changeEditable()">
        <mat-card class="small-card" *ngFor="let task of tasksToDone" cdkDrag>
          {{task.description}}
          <button class="button-styling" mat-button *ngIf="true" matSuffix mat-icon-button aria-label="Delete">
            <mat-icon (click)="deleteDialog(task._id)" class="icon-styling" *ngIf="selectedRole == 'Mitarbeiter_in'">cancel</mat-icon>
          </button>
        </mat-card>
      </mat-card>
      <mat-card class="inner-card" *ngIf="editable">
        <mat-form-field class="small-card" *ngFor="let task of tasksToDone" cdkDrag>
          <input
            class="input-styling"
            type="text"
            [(ngModel)]="task.description"
            (keyup)="getTheInput($event)"
            (keyup.enter)="updateATask(task)"/>
        </mat-form-field>
      </mat-card>
    </mat-card>
  </div>
</div>
