<button mat-button (click)="openDialog()">Feedback +</button>
                     
<!-- <div *ngFor="let feedback of feedbacks">
{{ feedback.feedback_text }}
</div> -->

<div class="feedback-section">
    <h3>{{ 'Feedback.feedback' | translate }}</h3>
    <div *ngIf="feedbacks.length == 0" class="description-styling">
        <p>{{ 'Feedback.nichtVorhanden' | translate}}</p>
    </div>
    <div *ngFor="let feedback of feedbacks">
        <mat-card class="feedback-matcard">
            <div class="feedback-provider">
                <span class="material-symbols-outlined feedback-icon">
                    <mat-icon>3p</mat-icon>
                </span>
                <span>
                    {{ feedback.provider_name }}
                </span>
            </div>
            <div class="feedback-text">
                {{ feedback.feedback_text }}
            </div>
        </mat-card>
    </div>
</div>
