.feedback-section {
  margin: 40px;
  color: #0071B9;
}

.feedback-provider {
  font-weight: 500;
  margin-top: 5px;
  margin-left: 15px;
}

.header {
  display: flex;
}

.date-label {
  width: 80px;
  padding-bottom: 3px;
  border-radius: 10px 10px;
  margin-bottom: 12px;
  background-color: rgb(197, 191, 188);
}

.date-numbers {
  font-size: 75%;
  color: black;
  padding-top: 5%;
  border-radius: 10px;
  text-align: center;
}

.feedback-matcard {
  color: #857971;
  width: 100%;
  background-color: #F2F2F2;
  word-wrap: break-word;
  margin-bottom: 20px;
  box-shadow: none;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .description-styling {
      width: 85%;
  }
}

.bttn {
transition: 1s ease-in-out;
outline: none;
border: 1px solid #0071B9;
padding: 7px 12px 9px;
margin-left: 10px;
margin-top: -5px;
margin-bottom: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
border-radius: 12px;
background: transparent;
color: #857971;
font-weight: 100;
font-size: 23px;
max-height: 40px;
}

.bttn:hover {
transition: 1s ease-in-out;
background: #0071B9;
opacity: 0.4;
color: white;
}

.icon-display {
font-size: 15px;
}
