<mat-card class="row style">
    <h3>UNTERJAEHRIGER AUSTAUSCH</h3>
    <mat-card class="style2 col-md-6">
            <mat-form-field class="col-md-12">
                <input 
                [(ngModel)]="enteredDate"
                id = "dateEntry"
                matInput type="text" 
                name="date"
                required
                placeholder="Datum"
                #date="ngModel">
                <mat-error *ngIf="date.invalid">Please enter a date</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12">
            <textarea 
                [(ngModel)]="enteredContent"
                id = "content"
                matInput rows="6" 
                name="content"
                required
                placeholder="Notizen zum unterjaehrigen Austausch"
                #content="ngModel">
            </textarea>
            <mat-error *ngIf="content.invalid">Please enter content</mat-error>
            </mat-form-field>
            <button 
            mat-raised-button *ngIf=true matSuffix
            type="submit" (click)=onAddPost()>Save</button>
    </mat-card>
    <mat-card class="style2 col-md-6">
        <app-list-reviews></app-list-reviews>
    </mat-card>
</mat-card>
