.reviewsCard {
  height: 80%;
  box-shadow: none;
  font-family: "Klavika", sans-serif;
  color: #0071B9;
  margin: 1%;
}

.mat-expansion-panel {
  background-color: #E8E4E1;
  box-shadow: none;
  padding: 4px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #0071B9 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #0071B9 !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #0071B9 !important;
}

input {
  color: #857971 !important;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #E8E4E1 !important;
  height: 10% !important;
}

.mat-raised-button {
  background-color: #0071B9;
  color: white;
}

.mat-form-field {
  width: 100%;
}

.icon-display {
  font-size: 15px;
}

