<mat-card class="row style">UNTERJAEHRIGER AUSTAUSCH
  <mat-icon (click)="addPostForm()">add</mat-icon>
  <mat-card class="style2 col-md-6" *ngIf = "addPost">
    <mat-form-field class="col-md-12">
      <input 
        matInput type="text"
        [(ngModel)]="enteredDate"
        id="dateEntry"
        name="date"
        required
        placeholder="Datum"
        #date="ngModel">
      <mat-error *ngIf="date.invalid">Please enter a date</mat-error>
    </mat-form-field>
    <mat-form-field>
            <textarea
              [(ngModel)]="enteredContent"
              id="content"
              matInput rows="6"
              name="content"
              required
              placeholder="Notizen zum unterjaehrigen Austausch"
              #content="ngModel">
            </textarea>
      <mat-error *ngIf="content.invalid">Please enter content</mat-error>
    </mat-form-field>
    <div>
      <button
      mat-raised-button *ngIf=true matSuffix
      type="submit" (click)=onAddPost()>Save
    </button>
    </div>
  </mat-card>
  <mat-card class="style2 col-md-6">
    <app-list-reviews></app-list-reviews>
  </mat-card>
</mat-card>
