.body {
  display: block;
}

.sidenav-container {
  height: 100%;
  background-color: transparent;
}

.sidenav {
  width: 200px;
}
.mat-toolbar {
  background-color: white !important;
  border-bottom: #E8E4E1;
  border-bottom-style: solid !important;
  border-bottom-width: thin;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 1080px) {
  .mat-drawer {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .nav-element {
    display: none !important;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-element {
  padding: 20px;
  display: flex;
  cursor: pointer;
}

.element-text {
  padding-top: 5px;
  font-size: 16px;
}

.random-user {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 7.5px;
}

.random-user-side {
  width: 35px;
  height: 35px;
}

.random-user-side-text {
  margin-top: 10px;
  margin-left: 10px;
  color: #857971;
  font-size: 10px;
}

.title {
  cursor: pointer;
  margin-right: 5%;
}

img {
  border-radius: 50%;
}

.rollen-verteilung {
  font-size: 16px;
  margin-top: 10px;
}

.rolle-bild {
  margin-bottom: 7px;
}

.sidenav-text {
  margin-left: 5px;
}

.rollen-verteilung-side {
  margin-top: 7.5px;
}

.router-outlet-styling {
  height: 100%;
  background-color: transparent !important;
}

.members-styling {
  margin-left: 20%;
}


.expansion-panel-styling {
  box-shadow: none !important;
  margin-left: -12%;
  background-color: transparent;
}

.expansion-panel-member-styling {
  margin-left: 20% !important;
  font-size: 15px !important;
  line-height: 30px !important;
  color: #857971;
}

.expansion-panel-member-styling:hover {
  color: #0071B9;
}

.dropdown-member-styling {
  margin-left: 10% !important;
  font-size: 15px !important;
  line-height: 30px !important;
  color: #857971;
  text-decoration: none;
}

.dropdown-member-styling:hover {
  color: #0071B9;
}

a {
  cursor: pointer;
}

.login {
  display: flex;
}
