<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(loginData$ | async) && (isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="(loginData$ | async)" (click)="goToGoals(idLoggedInUser, 'Mitarbeiter_in')">
        <div class="sidenav-text" *ngIf="(loginData$ | async)">{{ 'Ziele.ziele' | translate }}</div>
      </a>
      <a mat-list-item *ngIf="(loginData$ | async)" (click)="deleteSelectedGoalFromLocalStorage()"
         [routerLink]="'/protokolle'">
        <div class="sidenav-text" mat-button>{{ 'Protokolle.protokolle' | translate }}</div>
      </a>
      <ng-container *ngIf="loginData$ | async as loginData">
        <mat-expansion-panel class="expansion-panel-styling" *ngIf="loginData.role=='Vorgesetzte_r'"
                             (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a mat-list-item *ngIf="loginData.role=='Vorgesetzte_r'">
                <div class="sidenav-text">{{ 'Team.meinTeam' | translate }}</div>
              </a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let member of loginData.team" (click)="deleteSelectedGoalFromLocalStorage()">
            <a class="expansion-panel-member-styling" (click)="changeUrl(member.userid)"
               (click)="goToTeamview(member.userid, 'Vorgesetzte_r', member.surname, member.firstname)">
              {{member.firstname}} {{member.surname}}
            </a>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <a (click)='logout()' mat-list-item *ngIf="(loginData$ | async)">
        <mat-icon>exit_to_app</mat-icon>
        <div class="sidenav-text">{{ 'Login.logout' | translate }}</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="white">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(loginData$ | async) && (isHandset$ | async)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="title">
      {{ 'Titel.titel' | translate }}
    </span>
    <div class="nav-element" (click)="changeRoleToMitarbeiter_in()">
      <div class="element-text" *ngIf="(loginData$ | async)">{{ 'Ziele.ziele' | translate }}</div>
    </div>
    <div class="nav-element " (click)="deleteSelectedGoalFromLocalStorage()" (click)="clickProtokoll()">
      <div class="element-text" routerLink="protokolle" *ngIf="(loginData$ | async)">{{ 'Protokolle.protokolle' | translate }}</div>
    </div>
    <ng-container *ngIf="loginData$ | async as loginData">
      <div class="nav-element" (click)="onClickVorgesetzter()" (click)="onSelectVorgesetzte_r()">
        <div class="element-text" [matMenuTriggerFor]="menu" *ngIf="loginData.role=='Vorgesetzte_r'">{{ 'Team.meinTeam' | translate }}
          <mat-menu #menu="matMenu">
            <div *ngFor="let member of loginData.team" (click)="deleteSelectedGoalFromLocalStorage()">
              <a class="dropdown-member-styling" (click)="changeUrl(member.userid)"
                 (click)="goToTeamview(member.userid, 'Vorgesetzte_r', member.surname, member.firstname)">
                {{member.firstname}} {{member.surname}}
              </a>
            </div>
          </mat-menu>
        </div>
      </div>
    </ng-container>
    <span class="example-spacer"></span>
    <ng-container *ngIf="loginData$ | async as loginData">
      <div class="title">
        <div class="element-text">
          {{loginData.firstname + ' ' + loginData.surname}}
        </div>
      </div>
      <div (click)='logout()' class="nav-element">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with input icon">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <div class="element-text">
          {{ 'Login.logout' | translate }}
        </div>
      </div>
    </ng-container>
  </mat-toolbar>
  <router-outlet class="router-outlet-styling"></router-outlet>
</mat-sidenav-container>
