


<div class="selected-emotion">

  <mat-icon for="sad2"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>

</div>


<div class="emotion">
    <fieldset id="group">
        <input type="radio" id="sad" value="sad" name="group" >
      <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>
      <input type="radio" id="neutral" value="neutral" name="group">
      <mat-icon class= "neutral" for="neutral"[ngStyle]="{'color':'yellow'}">sentiment_neutral</mat-icon>
        <input type="radio" id="happy" value="happy" name="group">
      <mat-icon class= "happy" for="happy"[ngStyle]="{'color':'green'}">mood</mat-icon>
    </fieldset>
</div>


<div class="textfield">
  <mat-form-field appearance="fill">
    <mat-label>Kommentar</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>


  <div class="submit-button">

  <button type="submit">submit</button>

  </div>




