<div class="selected-emotion">
  <div *ngIf="selectedEmotion === ''">
    <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'#ddd'}">mood_bad</mat-icon>
  </div>
  <div *ngIf="selectedEmotion === 'sad'">
    <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>
  </div>
  <div *ngIf="selectedEmotion === 'neutral'">
    <mat-icon class= "neutral" for="neutral"[ngStyle]="{'color':'yellow'}">sentiment_neutral</mat-icon>
  </div>
  <div *ngIf="selectedEmotion === 'happy'">
    <mat-icon class= "happy" for="happy"[ngStyle]="{'color':'green'}">mood</mat-icon>
  </div>
</div>


<div class="emotion">
    <fieldset id="group">
      <!-- sad icon -->
      <label for="sad" class="emotion-btn">
        <input type="radio" id="sad" value="sad" name="group" (change)="onSelect($event)" [checked]="selectedEmotion === 'sad'">
        <mat-icon class= "sad" for="sad"[ngStyle]="{'color':'red'}">mood_bad</mat-icon>
      </label>
      <!-- neutral icon -->
      <label for="neutral" class="emotion-btn">
        <input type="radio" id="neutral" value="neutral" name="group" (change)="onSelect($event)" [checked]="selectedEmotion === 'neutral'">
        <mat-icon class= "neutral" for="neutral"[ngStyle]="{'color':'yellow'}">sentiment_neutral</mat-icon>
      </label>
      <!-- happy icon -->
      <label for="happy" class="emotion-btn">
        <input type="radio" id="happy" value="happy" name="group" (change)="onSelect($event)" [checked]="selectedEmotion === 'happy'">
        <mat-icon class= "happy" for="happy"[ngStyle]="{'color':'green'}">mood</mat-icon>
      </label>
    </fieldset>
</div>



<div class="textfield">
  <mat-form-field appearance="fill">
    <mat-label>Kommentar</mat-label>
    <textarea
      matInput
      [(ngModel)]="enteredContent"
      id="content"
      name="content"
      placeholder="{{'Mood.textEingabe' | translate}}"
      #content="ngModel"
    ></textarea>
  </mat-form-field>

  <div class="submit-button">
    <button type="submit" (click)="openDialog()">{{'Button.senden' | translate}}</button>
  </div>

  <div class="comment-locker">
    <div *ngIf="!hideComment">
      <mat-icon class= "not-hidden" [ngStyle]="{'color':'gray'}" (click)="changeState()">lock_open</mat-icon>
    </div>
    <div *ngIf="hideComment">

      <mat-icon class= "hidden" [ngStyle]="{'color':'gray'}" (click)="changeState()">lock</mat-icon>

    </div>
  </div>
  <mat-icon class= "help" [ngStyle]="{'color':'#A4A4A4'}">help_outline</mat-icon>


</div>


