<div class="container">
  <h3>{{ 'Mood.tracker' | translate }}</h3>
  <div class="wrapper">
    <div class="selected-emotion">
      <div *ngIf="selectedEmotion === ''">
        <mat-icon [ngStyle]="{'color':'#ffffff'}"></mat-icon>
      </div>
      <div *ngIf="selectedEmotion === 'sad'">
        <mat-icon [ngStyle]="{'color':'red'}">mood_bad</mat-icon>
      </div>
      <div *ngIf="selectedEmotion === 'neutral'">
        <mat-icon [ngStyle]="{'color':'goldenrod'}">sentiment_neutral</mat-icon>
      </div>
      <div *ngIf="selectedEmotion === 'happy'">
        <mat-icon [ngStyle]="{'color':'green'}">mood</mat-icon>
      </div>
    </div>

    <div class="emotion">
      <fieldset id="group">
        <!-- sad icon -->
        <label class="emotion-btn">
          <input type="radio" value="sad" name="group" (change)="onSelect('sad')" [checked]="selectedEmotion === 'sad'">
          <mat-icon class= "sad" [ngStyle]="{'color':'red'}">mood_bad</mat-icon>
        </label>
        <!-- neutral icon -->
        <label class="emotion-btn">
          <input type="radio" value="neutral" name="group" (change)="onSelect('neutral')" [checked]="selectedEmotion === 'neutral'">
          <mat-icon class= "neutral" [ngStyle]="{'color':'goldenrod'}">sentiment_neutral</mat-icon>
        </label>
        <!-- happy icon -->
        <label class="emotion-btn">
          <input type="radio" value="happy" name="group" (change)="onSelect('happy')" [checked]="selectedEmotion === 'happy'">
          <mat-icon class= "happy" [ngStyle]="{'color':'green'}">mood</mat-icon>
        </label>
      </fieldset>
  </div>

    <div class="textfield">
      <mat-form-field appearance="fill">
        <mat-label>{{'Mood.deinKommentar' | translate}}</mat-label>
        <textarea
          matInput
          [(ngModel)]="enteredContent"
          id="content"
          name="content"
          placeholder="{{'Mood.textEingabe' | translate}}"
          #content="ngModel"
          [maxlength]="maxChars"
        ></textarea>
      </mat-form-field>
      <label style="margin-left: 5px; margin-top: 15px; display: flex; color: #777675">
        <p [ngStyle]="{'color' : enteredContent.length == maxChars ? 'red' : '#777675'}">{{enteredContent.length}}</p>/{{maxChars}}</label>
      <div class="wrapper-actions">
      <div class="wrapper-locker">
        <div class="comment-locker">
          <div *ngIf="!hideComment">
            <mat-icon class= "not-hidden" [ngStyle]="{'color':'gray'}" (click)="changeState()">lock_open</mat-icon>
          </div>
          <div *ngIf="hideComment">
            <mat-icon class= "hidden" [ngStyle]="{'color':'gray'}" (click)="changeState()">lock</mat-icon>
          </div>
        </div>
        <mat-icon (click)="openHelpDialog()" class= "help-icon" [ngStyle]="{'color':'#A4A4A4'}">help</mat-icon>
      </div>

      <button class="submit-button" mat-button type="submit" (click)="openDialog()" [disabled]="selectedEmotion === ''">{{ 'Button.speichern' | translate }}</button>
      </div>
    </div>
  </div>
</div>
